.blur-active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none; 
    transition: filter 0.3s ease; 
}
.inputNameBackground {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom: 50%;
    position: fixed;
    width: 300px;
    height: 100px;
    background: rgb(238, 237, 237);
    border-radius: 20px;
    box-shadow: 3px 10px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.06);
    z-index: 1;
    display: grid;
    display: none;
}
.inputNameBackground input {
    width: 90%;
    padding: 10px; 
    margin: 5px 0 0 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-shadow: 3px 10px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.06);
}
.inputNameBackground .buttonFrame {
    width: 90%;
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: end;
    padding: 10px;
}
.inputNameBackground .buttonFrame button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 22px;
    font-size: 15px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    background: white;
    border: 1px solid rgb(197, 196, 197);
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.06);
}