#registerButton {
    border: none;
    background: transparent;
    font-weight: bold;
}
#registerButton:hover {
    background: #157347;
    color: white;
}
#loginButton {
    background: #198754;
}
#loginButton:hover {
    background: #157347;
    color: white;
}